# SPDX-License-Identifier: GPL-2.0

config SOC_K210
	bool "Kendryte K210 SoC drivers"
	depends on RISCV && SOC_KENDRYTE && OF
        select PM
        select SIMPLE_PM_BUS
        select SYSCON
        select MFD_SYSCON
